:root {
    --fonty: 'Cairo', sans-serif;
    --fonty_2: 'Alexandria', sans-serif;
    --fonty_3: 'Noto Nastaliq Urdu', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    margin: 0px 0px;
    background: #A70008;
    width: 100%;
    position: fixed;
    z-index: 999;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
}
.navgation a {
    color: #fff;
    text-decoration: none;
    font-size: 2.6em;
    Font-weight: 700px;
    padding: 10px 25px;
    transition: 0.7s ease;
    font-family: var(--fonty_2);
    cursor: pointer;
}
.navgation a:hover {
    transform: scale(1.1);
    font-size: 3em;
}
.logo {
    text-decoration: none;
    color: #fff;
    font-weight: 1400px;
    font-size: 3.5em;
    padding-left: 30px;
    font-family: var(--fonty_3);
    cursor: pointer;
}
.main {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    text-align: right;
    padding-top: 80%;
    padding-right: 20px;
    background: url(photo_one.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 200px;
}
.main h2 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 600px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: var(--fonty);
    text-align: right;
}
.main h3 {
    color: #E50005;
    font-size: 3em;
    font-weight: 700px;
    font-family: var(--fonty);
    text-align: right;
}
.pragraf_1 {
    text-align: right;
    margin: 0 40px;
}
.pragraf_1 h2 {
    color: #A70008;
    width: 100%;
    font-size: 4.5em;
    text-align: center;
    font-family: var(--fonty_2);
}
.pragraf_1 p {
    color: #A70008;
    font-size: 3em;
    padding: 120px 20px;
    text-align: center;
    font-family: var(--fonty);
}
.line {
    width: 100%;
    height: 20px;
    margin: 250px auto;
}
.line::before {
    content: "";
    position: absolute;
    background-color: #FF5C61;
    height: 1px;
    width: 40%;
    margin: 10px 30%;
}
.events {
    width: 100%;
    padding: 100px auto;
}
.events a {
    text-decoration: none;
}
.events h2 {
    color: #A70008;
    font-size: 4em;
    margin-bottom: 350px;
    text-align: center;
    font-family: var(--fonty_2);
}
.events p {
    font-family: var(--fonty);
    color: #fff;
    width: 100%;
    padding: 20px 0;
    background: #A70008;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.card {
    width: 80%;
    height: 600px;
    background: url(photo_two.jpeg )no-repeat;
    background-size: cover;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 350px;
    margin-top: 120px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 350px;
    margin-top: 120px;
}
.card p {
    font-size: 4.5em;
}
.card2 {
    width: 80%;
    height: 600px;
    background: url(photo_three.jpeg )no-repeat;
    background-size: cover;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 350px;
    margin-top: 120px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 350px;
    margin-top: 120px;
}
.card2 p {
    font-size: 4.5em;
}
.card3 {
    width: 80%;
    height: 600px;
    background: url(photo_four.jpeg )no-repeat;
    background-size: cover;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 350px;
    margin-top: 120px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 350px;
    margin-top: 120px;
}
.card3 p {
    font-size: 4.5em;
}
.shado::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 600px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-right: 5%;
    margin-left: 15%;
    margin-bottom: 200px;
    margin-top: 105px;
    background-color: #797979;
    z-index: -1;
}
.statistics {
    width: 100%;
    padding: 100px auto;
    text-align: center;
    margin-bottom: 250px;
}
.statistics h2 {
    color: #A70008;
    margin-bottom: 350px;
    font-size: 4em;
    font-family: var(--fonty_2);
}
.statistics section {
    text-align: center;
    width: 90%;
    height: 150px;
    background: #B5B5B5;
    margin: 200px auto;
    padding-top: 20px;
    border-left: #A70008 40px solid;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 14px 20px -8px inset #696969;
}
.statistics section p {
    color: #fff;
    font-size: 3em;
    text-align: center;
    font-family: var(--fonty);
}
.page {
    width: 97%;
    background: #656565;
    margin-right: 10%;
    padding-right: 20px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}
.page section {
    width: 60%;
    height: 500px;
    background: url(photo_five.jpeg)no-repeat;
    background-size: cover;
    background-position: bottom;
    border-bottom-right-radius: 50px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}
.page p {
    color: #fff;
    font-size: 2.7em;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-right: 15px;
    font-family: var(--fonty);
}
.Donate_t {
    color: #A70008;
    width: 100%;
    font-size: 4.5em;
    text-align: center;
    font-family: var(--fonty_2);
}
.Don a {
    text-decoration: none;
    cursor: pointer;
}
.Donate_1 {
    height: 50%;
    width: 70%;
    margin: 25% 15%;
    background: #A70008;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.Donate_1 div {
    height: 70%;
    width: 100%;
    background: url(photo_seven.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.Donate_1 h2 {
    text-align: center;
    font-size: 4.3em;
    color: #fff;
    margin-top: 10%;
    font-weight: 600;
    font-family: var(--fonty);
}
.Donate_2 {
    height: 50%;
    width: 70%;
    margin: 25% 15%;
    background: #A70008;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.Donate_2 div {
    height: 70%;
    width: 100%;
    background: url(photo_eight.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.Donate_2 h2 {
    text-align: center;
    font-size: 4.3em;
    color: #fff;
    margin-top: 10%;
    font-weight: 600;
    font-family: var(--fonty);
}
.Donate_3 {
    height: 50%;
    width: 70%;
    margin: 25% 15%;
    background: #A70008;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.Donate_3 div {
    height: 70%;
    width: 100%;
    background: url(photo_six.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 2px #A70008 solid;
}
.Donate_3 h2 {
    text-align: center;
    font-size: 4.3em;
    color: #fff;
    margin-top: 10%;
    font-weight: 600;
    font-family: var(--fonty);
}










footer {
    width: 100%;
    background: #333;
    align-items: center;
}
footer p {
    color: #fff;
    font-size: 2em;
    padding: 30px 30px;
    padding: auto 30px;
    font-family: var(--fonty_3);
    text-align: right;
}
footer span {}